
@model ContactForm

<section class="contact-form-section">

    @if (!string.IsNullOrWhiteSpace(TempData["Message"]?.ToString()))
    {
        <div>@TempData["Message"]</div>
    }  
    else
    {
        <form id="contact-form" method="post" asp-action="Index" asp-controller="Support" novalidate>

            <div data-id="firstname" class="form-group">
                <label class="form-label" asp-for="FirstName"></label>
                <input class="form-input" asp-for="FirstName" />
                <span class="field-validation" asp-validation-for="FirstName"></span>
            </div>
            <div data-id="lastname" class="form-group">
                <label class="form-label" asp-for="LastName"></label>
                <input class="form-input" asp-for="LastName" />
                <span class="field-validation" asp-validation-for="LastName"></span>
            </div>
            <div data-id="email" class="form-group">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-input" asp-for="Email" />
                <span class="field-validation" asp-validation-for="Email"></span>
            </div>
            <div data-id="phone" class="form-group">
                <label class="form-label" asp-for="Phone"></label>
                <input class="form-input" asp-for="Phone" />
                <span class="field-validation" asp-validation-for="Phone"></span>
            </div>

            <div data-id="message" class="form-group">
                <label class="form-label" asp-for="Message">Message</label>
                <textarea class="form-textarea" asp-for="Message" rows="5"></textarea>
                <span class="field-validation" asp-validation-for="Message"></span>
            </div>

            <button type="submit">
                Submit Request
            </button>

        </form>
    }

</section>