<partial name="Partials/Globals/Navigation/_MobileFlyoutNavigationSection" />

<section class="header-section">

    <div class="logotype">
        <a href="/"></a>
    </div>

    <nav class="main-menu">
        <partial name="Partials/Globals/Navigation/_DesktopNavigationSection" />
    </nav>

    <nav class="account-menu">

    </nav>

</section>